{% extends 'base.html.twig' %}

{% block title %}Panterest | Index{% endblock %}

{% block body %}

<h1>{{ pluralize(pins|length, 'Pin') }}</h1>

{% for pin in pins %}
<article>
<a href="{{path('app_pin_show', {id: pin.id})}}"><h4>{{pin.title}}</h4></a>
{# Doesnt cut words #}
<p>{{pin.description|u.truncate(10,'...', false)}}</p>
<p>Submitted {{pin.createdAt|ago}}</p>
</article>
    
{% endfor %}

{% endblock %}
