{% extends 'base.html.twig' %}

{% block title %}{{pin.title}}{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-6 mx-auto">
<article class="pin bg-white rounded shadow">
<div class="rounded-top mw-100 overflow-hidden">
<a href="{{path('app_pin_show', {id: pin.id})}}">
<img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('images/placeholder.jpg')) | imagine_filter('square_thumbnail_medium')}}" alt="{{ pin.title }}" class="w-100"></a>
</div>

<a class="text-secondary text-decoration-none" href="{{path('app_pin_show', {id: pin.id})}}"><h5 class="pl-3 pt-3">{{pin.title}}</h5></a>
{# Doesnt cut words #}
<p class="pb-3 pl-3 text-muted"><small>Submitted {{pin.createdAt|ago}} by [OWNER FULL NAME]</small></p>
<p class="pl-3 pb-3"> {{ pin.description }}</p>
<div class="pl-3 pb-3">
<a class="btn-grad " href="{{path('app_pin_edit', {id:pin.id})}}">Edit</a>
<a class="btn-grad " href="#" onclick="event.preventDefault(); confirm('Are you sure?') && document.getElementById('js-delete-pin-form').submit();">Delete</a>

<form id="js-delete-pin-form"   action="{{ path('app_pin_delete', {id:pin.id}) }}" method="post" style="display:none;" >
<input type="hidden" name="csrf_token" value="{{csrf_token('pin_delete_' ~ pin.id)}}">
<input type="hidden" name="_method" value="DELETE">
</form>
</div>
</article>
</div>
</div>

{% endblock %}